<div class="box">
<div class="container">
  <h1>Register</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="input-group">
        <label for="username">Username</label>
        <input 
          type="text"
          name="name"
          ngModel
          placeholder="Enter your username" 
          required
        >
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input 
        name = "email"
        type="email" 
        id="email" 
        ngModel
        placeholder="Enter your email" 
         required>
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input 
        type="password"
        ngModel
        id="password" 
        name="password"
        placeholder="Enter your password" 
        ngModel
        required
        >
      </div>
      <button type="submit" class="button">Register</button>
    </form>
  </div>
</div>
