.box {
  background-color: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
}

.container h1 {
  margin-top: 0;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #555555;
  color: #ffffff;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #d9534f;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #c9302c;
}
