<div class="container">
  <h1>Add Server</h1>
  <form>
    <div class="input-group">
      <label for="title">Title</label>
      <input type="text" id="title" [(ngModel)]="newServer.title" required>
    </div>
    <div class="input-group">
      <label for="domain">Domain</label>
      <input type="text" id="domain" [(ngModel)]="newServer.domain" required>
    </div>
    <div class="buttons">
      <!-- <button type="button" (click)="saveServer()" >Save</button> -->
      <!-- <button type="button" (click)="goToListServers()" >Exit</button> -->
    </div>
  </form>
</div>
