<div class="container">
  <h1>Add Server</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="input-group">
      <label for="title">Title</label>
      <input type="text" id="title" required>
    </div>
    <div class="input-group">
      <label for="domain">Domain</label>
      <input type="text" id="domain" required>
    </div>
    <div class="buttons">
      <button type="submit">Save</button>
      <button type="button" (click)="goToListServers()" >Exit</button>
    </div>
  </form>
</div>
