<div class="box">
  <div class="container">
    <h1>Login</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="input-group">
        <label>Email</label>
        <input 
        type="text" 
        placeholder="Enter your username" 
        ngModel 
        name="email"
        required>

      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input 
        id="password" 
        ngModel 
        name="password"
        placeholder="Enter your password" 
        required
        >
      </div>
      <button type="submit" class="btn">Login</button>
    </form>
  </div>
</div>

