<div class="container">
  <h1 class="text-center my-5">LISTA DE SERVIDORES</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Dominio</th>
        <th scope="col">Usuario de la based de datos</th>
        <th scope="col">Base de datos</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of servers$ | async">
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>
          <button (click)="deleteServer(item[0])" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <a routerLink="/servers/create" class="btn btn-primary">Agregar Servidor</a>
</div>
