<div class="container">
  <h1 class="text-center my-5">List Servers</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">usuario</th>
        <th scope="col">dominio</th>
        <th scope="col">db_user</th>
        <th scope="col">database</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of servers$ | async">
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>
          <button
            (click)="deleteServer(1)"
            class="btn btn-danger"
          >Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
